* {
  margin: 0;
  padding: 0;
  font-size: 0;
  box-sizing: border-box;
  color: rgb(127, 104, 89);
  font-family: "Garamond";
}
@font-face {
  font-family: "Garamond";
  src: url(./fonts/EBGaramond-Regular.ttf);
}
@font-face {
  font-family: "Garamond";
  src: url(./fonts/EBGaramond-Bold.ttf);
  font-weight: 700;
}
body {
  background-image: url(./picture/bg_img.webp);
}

.bg__color {
  width: 100%;
  background: rgba(127, 104, 89, 0.3);
}
.title__text {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin: 5px 0;
  text-align: center;
}
.link__hover {
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.2s linear;
  cursor: pointer;
  &:hover {
    color: #fff;
    fill: rgb(73, 60, 51);
    text-shadow: 1px 1px 2px rgb(127, 104, 89), 0 0 1em rgb(127, 104, 89),
      0 0 0.2em rgb(127, 104, 89);
  }
}
.list__link {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 5px 0;
  &__before {
    position: relative;
    &::before {
      position: absolute;
      top: 3px;
      left: -20px;
      content: "";
      display: block;
      width: 3px;
      height: 3px;
      border: 4px dotted rgb(127, 104, 89);
      transform: rotate(45deg);
    }
  }
}

.profile__text {
  font-size: 16px;
  text-indent: 20px;
}
main {
  max-width: 1110px;
  width: calc(100% - 30px);
  margin: 0 auto;
}
.title {
  padding: 1px 0;
  margin-top: 15px;
  &__jobtitle {
    width: 100%;
    display: flex;
    margin-top: 15px;
  }
}
.jobtitle {
  &__text {
    font-weight: 700;
    font-size: 16px;
    margin-left: 25px;
    max-width: 148px;
    @media screen and (min-width: 500px) {
      max-width: 245px;
    }
    @media screen and (min-width: 670px) {
      max-width: 300px;
    }
    @media screen and (min-width: 750px) {
      max-width: 455px;
    }
    &_margin {
      margin-bottom: 10px;
    }
  }
  &__date {
    font-size: 16px;
    text-align: right;
  }
  &__description {
    width: 95%;
    font-size: 16px;
    text-indent: 20px;
  }
  &__box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.degree__location {
  display: flex;
  justify-content: space-between;
}
.education {
  &__degree {
    font-size: 16px;
    font-style: italic;
  }
  &__location {
    font-size: 16px;
    &_top {
      position: relative;
      bottom: 9px;
    }
  }
}
.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  @media screen and (min-width: 580px) {
    flex-direction: row;
    justify-content: space-between;
  }
  &__hard-soft {
    width: 100%;
    @media screen and (min-width: 580px) {
      width: calc((100% - 15px) / 2);
    }
  }
  &__list {
    display: flex;
  }
  &__style {
    font-size: 16px;
  }
}
.display {
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  &__title {
    max-width: 100%;
    margin-bottom: 0;
    @media screen and (min-width: 768px) {
      max-width: 455px;
      margin-bottom: 5px;
    }
  }
  &__none {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}


@import "./scss/header.scss";
@import "./scss/points.scss";
@import "./scss/footer.scss";